#disco-display-components {
  background-color: rgba(9, 4, 21, 1);
}

#disco-wrap {
  justify-content: start;
}

#leader-wrap {
  justify-content: center;
  width: 100%;
}

#guest-wrap {
  width: 30%;
}

#album-wrap {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  max-height: 90%;
  margin: 2rem;
  place-items: center;
}

#guest-album-wrap {
  overflow: auto;
  overflow-wrap: anywhere;
  margin: 2rem;
  background-color: rgba(9, 4, 21, 0.8);
  padding: 2rem;
  width: 70%;
  height: 60%;
  border-radius: 8px;
}

#guest-album-wrap > p {
  margin: 1rem;
}

#disco-heading {
  all: unset;
  font-family: "LilitaOne", sans-serif;
  font-size: 2rem;
  text-shadow: 1px 1px $maj-pink;
  justify-self: start;
  margin: 0 10%;
  width: 100%;
}

.discography-link {
  font-family: "IBM Plex Mono", sans-serif;
  text-decoration: none;
  color: $maj-yel;
  border-radius: 8px;
  margin: 0.5rem;
  width: 66%;
  height: fit-content;
  transition: width 0.1s ease-in;
}

.discography-link:hover {
  border: 0.2rem solid $maj-pink;
  width: 75%;
}

#disco-link-container {
  background-color: rgba(9, 4, 21, 0.6);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#disco-link-container > img {
  margin: 1rem;
  margin-bottom: 0.2rem;
  max-width: 95%;
  height: auto;
}

.album-display-wrap {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.album-img-wrap {
  padding: 4rem;
  max-width: 30%;
}

.album-desc-wrap {
  width: 35vw;
  max-height: 70vh;
  margin: 4rem;
  overflow: auto;
}

.album-img-wrap > img {
  width: 100%;
  height: auto;
}

.album-desc-wrap > a {
  all: unset;
  font-family: "LilitaOne", sans-serif;
  font-size: 2rem;
  text-shadow: 1px 1px $maj-pink;
  margin-left: 20rem;
}
.album-desc-wrap > a:hover {
  cursor: pointer;
  color: $maj-pink;
  text-shadow: 1px 1px $maj-yel;
}
.album-desc-wrap > p {
  margin: 1rem;
}
