@import "home.scss";
@import "about.scss";
@import "shows.scss";
@import "media.scss";
@import "audio_player.scss";

/* app.rs ------ MAIN LAYOUT */
$maj-yel: #fad549;
$maj-pink: #ff3988;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: rgba(9, 4, 21, 0.6);
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.about-images-scroller::-webkit-scrollbar-track {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

#shows-wrap::-webkit-scrollbar-track {
  background: rgba(9, 4, 21, 0.9);
  border-top-right-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 57, 136, 0.5);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $maj-pink;
}

::-webkit-scrollbar-thumb:active {
  background-color: $maj-yel;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: rgba(255, 57, 136, 0.5) rgba(9, 4, 21, 0.6);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(9, 4, 21, 1);
  font-family: "IBM Plex Mono", sans-serif;
  color: $maj-yel;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

main {
  width: 100%;
  height: 100%;
}

p {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border-color: rgba(0, 0, 0, 0);
}

@media screen and (orientation: portrait) {
  .bg-wrapper {
    display: flex;
    background-size: 300%;
  }

  nav {
    width: 100%;
    height: 10%;

    position: fixed;
    top: 0;

    translate: none;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (orientation: landscape) {
  .bg-wrapper {
    display: flex;
    background-size: 150%;
  }

  nav {
    width: 12%;
    height: 75vh;

    margin-top: 10%;
    margin-bottom: 3%;
    margin-inline: 10px;

    position: fixed;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 2%;
  }
}

@media screen and (orientation: landscape) and (max-height: 600px) {
  nav {
    height: 65%;
    margin-top: 5%;
    bottom: 0;
  }
}

.bg-wrapper {
  transition: background-position 0.3s ease-in-out;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-image: url("/img/bg/bg_smallest.webp");
  background-position: 48% 8%;
  background-repeat: no-repeat;
}

/* routes.rs ------ GENERAL LAYOUT */
.components {
  display: grid;
  justify-items: center;
}

@media screen and (orientation: portrait) {
  .components {
    height: 80%;
    width: 100%;
    gap: 2rem;
    grid-template-rows: 1fr 5fr;
  }

  .title {
    margin-top: 13%;
  }
}

@media screen and (orientation: landscape) {
  .components {
    margin-left: 15%;
    height: 100%;
    grid-template-rows: 1fr 5fr;
  }

  .nav-icon-1 {
    translate: 0%;
  }

  .nav-icon-2 {
    translate: 60%;
  }

  .nav-icon-3 {
    translate: -50%;
  }

  .nav-icon-4 {
    translate: 30%;
  }
}

.nav-link {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.2);
}

.nav-link[aria-current="page"] {
  transform: scale(1);
}

.nav-icon {
  width: 50%;
  height: auto;
  min-width: 20px;
  max-width: 100px;
  transition: filter 0.1s;
  transition:
    transform 0.2s ease-in-out,
    translate 0.2s ease-in-out;
  filter: hue-rotate(0deg);
}

.nav-link:hover .nav-icon {
  filter: hue-rotate(295deg) saturate(380%) brightness(0.67) contrast(200%);
  transform: rotate(360deg) scale(1);
  translate: 0;
}

.nav-link[aria-current="page"] .nav-icon {
  transform: rotate(0deg) scale(1.2);
  filter: hue-rotate(295deg) saturate(380%) brightness(0.67) contrast(200%);
  translate: 0;
}

.title {
  display: flex;
  justify-content: center;
  font-family: "LilitaOne", sans-serif;
}

.title h1 {
  all: unset;
  font-family: "LilitaOne", sans-serif;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
  text-shadow: 5px 5px $maj-pink;
}

@media screen and (orientation: portrait) {
  .title {
    font-size: 4rem;
  }
}

@media screen and (orientation: landscape) {
  .title {
    font-size: 8rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 600px) {
  .title {
    font-size: 4rem;
  }
}

.title-img {
  width: 50%;
  max-width: 1000px;
}

.contents {
  width: 100%;
  max-height: 90%;

  margin-left: 15%;
  margin-right: 90px;

  display: flex;
  justify-content: center;
}

/* ERRORS */
.error-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 15%;
}

.error-wrap > * {
  background-color: rgba(9, 4, 21, 0.6);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 16px;
}

.error-wrap > * > * {
  text-align: center;
  font-size: 1.5rem;
  padding: 16px;
}

.error-wrap > * > a {
  all: unset;
  text-align: center;
  font-size: 1.5rem;
  padding: 16px;
  border-radius: 16px;
  background-color: $maj-pink;
}

.error-wrap > * > a:hover {
  cursor: pointer;
  background-color: rgba(230, 50, 120, 1);
}

.error-subtitle {
  font-size: 2rem;
  margin: 0;
}

.error-title {
  font-family: "LilitaOne", sans-serif;
  font-size: 4rem;
  text-shadow: 5px 5px $maj-pink;
}
