@media screen and (orientation: landscape) and (min-width: 1000px) {
  .video-js {
    width: 800px;
    height: 400px;
  }
}
@media screen and (orientation: portrait) {
  .video-js {
    width: 300px;
    height: 150px;
  }
}
