/* ————————————————————— INDEX ————————————————————— */


/* app.rs ------ MAIN LAYOUT */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(10, 10, 10);
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fad549;
 
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
main {
  width: 100%;
  height: 100%;
}
p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-top: 5%;
  margin-bottom: 5%;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media (orientation: portrait) {
  .bg-wrapper {
    display: flex;
  }
  nav {
    width: 100%;
    height: 10%;
    
    position: fixed;
    top: 0;

    translate: none;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (orientation: landscape) {
  .bg-wrapper {
    display: flex;
  }
  nav {
    width: 15%;
    height: 75vh;

    margin-top: 10%;
    margin-bottom: 3%;
    margin-right: 20px;

    position: fixed;

    display: grid;
    justify-items: center;
    gap: 2%;
  }
}
@media screen and (orientation: landscape) and (min-width: 1300px) and (max-height: 600px){
  nav {
    margin-top: 7%;
  }
}

.bg-wrapper {
  transition: background-position 0.3s ease-in-out;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-image: url("/img/bg/bg.png");
  background-position: 46% 18%;
  background-size: 290%;
  background-repeat: no-repeat;
}
/* routes.rs ------ GENERAL LAYOUT */
.components {
  display: grid;
}
@media (orientation: portrait) {
  .components{
    height: 90%;
    width: 100%;
    gap: 2rem;
    grid-template-rows: 1fr 5fr;
  }
  .title {
    margin-top: 10%;
  }
}
@media (orientation: landscape) {
  .components{
    margin-left: 15%;
    height: 100%;
    grid-template-rows: 1fr 2fr;
  }
  .nav-icon-1 {
    translate: -30%;
  }
  .nav-icon-2 {
    translate: 60%;
  }
  .nav-icon-3 {
    translate: -60%;
  }
  .nav-icon-4 {
    translate: 30%;
  }
}

.nav-link {
  width: 40%;
  display: flex;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.5);
}

.nav-link[aria-current="page"]{
  transform: scale(1);
}

.nav-icon {
  width: 40%;
  min-width: 20px;
  max-width: 100px;
  transition: filter 0.1s;
  transition: transform 0.2s ease-in-out;
  transition: translate 0.2s ease-in-out;
  filter: hue-rotate(0deg);
}

.nav-link:hover .nav-icon {
  filter: hue-rotate(295deg) saturate(380%) brightness(0.67) contrast(200%);
  transform: rotate(360deg) scale(1) translateX(0);
  translate: 0;
}

.nav-link[aria-current="page"] .nav-icon{
  transform: rotate(0deg) scale(1.5) translateX(0);
  filter: hue-rotate(295deg) saturate(380%) brightness(0.67) contrast(200%);
  translate: 0;
}

.title {
  display: flex;
  justify-content: center;

  font-family: BrianJames, sans-serif;
  font-size: 5rem;
}

.title-img {
  width: 50%;
  max-width: 1000px;
}

.contents {
  width: 100%;
  max-height: 90%;

  margin-left: 15%;
  margin-right: 90px;

  display: flex;
  justify-content: center;
}


/* ————————————————————— ROUTES ————————————————————— */


/* home.rs ------ HOME LAYOUT */
#home-img {
  width: 80%;
  padding-top: 10px;
}

#home-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

@media screen and (orientation: portrait) {
#home-title {
  height: 25vh;
}
#home-wrap {
  justify-content: center;
  margin-left: 0;
}
.all-contacts {
  width: 100%;
  }
 .all-contacts > * {
  width: 4vh;
  background: rgba(9, 4, 21, 0.5);
  padding: 0.5rem;
  border-radius: 10px;
  }
}
@media screen and (orientation: landscape) {
#home-wrap {
  justify-content: flex-end;
}
#home-title {
  height: 35vh;
}
.all-contacts {
  width: 60%;
  }
.all-contacts > * {
  width: 3vw;
  }
}

.all-contacts {
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
}
.all-contacts > * {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
}
.all-contacts > *:hover .contacts-img {
  filter: hue-rotate(-295deg) saturate(100%) brightness(2) contrast(100%);
  transform: scale(1.2);
}

.contacts-wrap:nth-child(1) {
  grid-column: span 3;
}
.contacts-wrap:nth-last-child(1) {
  grid-column: span 3;
}
@media screen and (orientation: portrait) {
.modal { 
   width: 80%;
   height: 43%;
   bottom: 25%;
   left: 10%;
 }
}
@media screen and (orientation: landscape) {
.modal { 
   width: 30%;
   height: 50%;
   bottom: 12.5%;
   left: 30%;
 }
}
.modal { 
   position: fixed;
   display: grid;
   align-items: center;
   text-align: center;

   color: #ff3988;
   background: rgba(9, 4, 21, 0.96);
   border-radius: 30px;
}
.modal a {
  color: #ff3988;
}
.close-button {
  all: unset;
  cursor: pointer;

  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* routes/about.rs ------ ABOUT ME LAYOUT */
#about-wrap {
  width: 100%;
  overflow: hidden;
  margin: 0;
  margin-right: 20px;
  display: flex;
}
@media (orientation: portrait) {
  #about-title {
    margin-top: 20%;
  }
  #about-wrap {
    flex-direction: column-reverse;
    align-items: center;
    justify-items: center;
    gap: 2rem;
  }
  .about-pics {
    width: 40%;
  }
  .about-text {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .about-pics {
    width: 50%;
  }
}
@media (orientation: landscape) {
  #about-wrap {
    justify-content: space-around;
  }
  .about-pics {
    width: 35%;
  }
  .about-text {
    width: 50%;
  }
}

.about-text {
  padding: 2%;
  padding-left: 3%;

  background: rgba(9, 4, 21, 0.7);
  border-radius: 4%;
  color: #ff3988;

  max-height: 100%;
  overflow: auto;
}
.about-text:hover {
  background: rgba(9, 4, 25, 0.9);
}
.about-text > * {
  padding: 1rem;
}

.about-pics {
  display: grid;
  align-items: center;
}
.about-img-but-container {
  position: relative;
  display: inline-block;
}
.about-img {
  border-radius: 20px;
  max-width: 100%;
  max-height: 66%;
}
.about-back-img,
.about-next-img {
  all: unset;
  position: absolute;
  font-size: 1rem;

  height: 70%;
  top: 50%;
  transform: translateY(-50%);

  background-color: rgba(0, 0, 0, 0);
  color: #ff3988;

  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.about-back-img {
    left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.about-next-img {
    right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.about-next-img:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 0;
}
.about-back-img:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 0;
}

/* shows.rs ------ SHOWS LAYOUT */
#shows-contents {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 98%;
  overflow: hidden;
}
#shows-title {
  height: 80%;
}

@media (orientation: portrait) {
  #shows-title {
    margin-top: 15%;
  }
}

.shows-nav {
  margin: 0;
  width: 100%;
  height: 4rem;

  display: grid;
  grid-template-columns: 1fr 1fr;

  background: rgba(9, 4, 21, 0.9);
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  position: sticky;
  top: 0;
}
.shows-nav > * {
  all: unset;

  /*
  background: rgba(255, 57, 136, 1);
  */
  color: #fad549;
  padding: 10px;

  text-align: center;
  font-size: 1.6rem;

  cursor: pointer;
  width: 100% 
}
.shows-nav > *[aria-current="page"] {
  color: #00ff75;
}
.shows-nav > *:hover {
  text-decoration: underline;
}
.shows-nav > *:active {
  color: #00ff75;
}
#shows-wrap {
  width: 100%;
  height: 100%;

  border-radius: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;

  font-size: 1rem;
  overflow: auto;
}

#shows-img {
  width: 32%;
  transform: translate(-10%);
}

.shows-list {
  padding: 0;
  margin: 0;
  display: grid;
  height: fit-content;
  width: 100%;

}
.show-container {
  background: rgba(9, 4, 21, 0.9);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.show-container:hover {
  background: rgba(31, 12, 98, 1);
}

#show-container-id {
  position: sticky;
  top: 0;

}
#show-container-id > * {
  color: #fad549;
  font-size: 1.2rem;
  background: rgba(9, 4, 21, 1);
}
.show-container > * {
  color: #ff3988;
  padding: 15px 10px;
  text-align: center;
  font-size: 1rem;
}
.shows-no-shows {
  width: 100%;
  padding-top: 8rem;
  text-align: center;
  font-size: 1.6rem;
  background: rgba(9, 4, 21, 0.9);
}

/* routes.rs ------ MEDIA LAYOUT */
#media-img {
  width: 33%;
}

.media-contents {
  margin-left: 5%;
  margin-right: 5%;

  display: grid;
  gap: 20px;
}

/*  TODO: Make this better !  */
@media(orientation: portrait) {
  #media-title {
    margin: 5%;
    margin-top: 20%;
  }
  .media-contents {
    overflow: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(20, 1fr);
    max-height: 90%;
  }
  .video-1 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .video-4 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .video-7 {
    grid-column: span 2;
    grid-row: span 2;
  }
}
@media(orientation: landscape) {
  #media-components {
    overflow: auto;
  }
  #media-title {
    margin: 3%;
  }
  .media-contents {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8,  1fr);
  }
  .video-1 {
    grid-column: span 1;
    grid-row: span 1;
  }
  .video-2 {
    grid-column: span 1;
    grid-row: span 1;
  }
  .video-3 {
    grid-column: span 3;
    grid-row: span 3;
  }
  .video-4 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .video-5 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .video-6 {
    grid-column: span 1;
    grid-row: span 1;
  }
  .video-7 {
    grid-column: span 3;
    grid-row: span 2;
  }
}

/* routes.rs ------ CONTACT LAYOUT */
#contact-img {
  width: 42%;
}

/* ————————————————————— AUDIO ————————————————————— */


.audio-player {
	font-size: 1.25rem;
	text-align: center;
	background: rgba(9, 4, 21, 0.1);
	transition: 0.3s;

	max-height: 95%;

	display: flex;
  align-items: center;
}

@media (orientation: portrait) {
  .audio-player {
    position: absolute;
    height: 4rem;
	  justify-content: space-around;
    left: calc(50% - 2vh);
    bottom: 5vh;
  }
  .audio-player:hover {
    background: rgba(255, 57, 136, .8);
    left: 0;
    width: 100%;
    padding-left: 30px;
  }
  .play {
    height: 4vh;
    width: 4vh;
  }
  .pause {
    height: 4vh;
    width: 4vh;
  }
  .time-container {
    width: 70%;
    padding-top: 10px;
  }
}
@media (orientation: landscape) {
  .audio-player {
    position: fixed;

	  height: 6rem;
	  width: 6%;
	  justify-content: space-between;

    border-radius: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    padding: 20px;
    padding-left: 7%;
    left: 0;
    top: 2.3%;
  }
  .play {
    height: 2.7vw;
    width: 2.7vw;
  }
  .pause {
    height: 2.7vw;
    width: 2.7vw;
  }
  .audio-player:hover {
    background: rgba(255, 57, 136, .8);
    width: 25%;
    height: 8%;
    padding-left: 30px;
    top: 5%;
  }
  .time-container {
    width: 90%;
  }
}
@media screen and (orientation: landscape) and (max-height: 600px) {
  .audio-player {
    height: 2rem;
  }
  .audio-player:hover {
    width: 30%;
    height: 4%;
    padding-left: 30px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1300px) and (max-height: 600px){
  .audio-player {
    padding-left: 7%;
    top: 6%;
    height: 3rem;
  }
}

.audio-player > *:not(.play-container) {
  display: none;
}

.play {
	cursor: pointer;
	border: 1px solid #111;
	border-radius: 50%;
  max-height: 100px;
  max-width: 100px;
	background-color: #fad549;
	transition: 0.1s;

	background-image: url("/img/icon/play.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
}
.play:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 9px 2px rgba(40, 40, 40, 0.9);
}

.pause {
	cursor: pointer;
	border: 1px solid #111;
	border-radius: 50%;
  max-height: 100px;
  max-width: 100px;
	background-color: #ff3988;
	transition: 0.1s;

	background-image: url("/img/icon/pause.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
}
.pause:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 9px 2px rgba(40, 40, 40, 0.9);
}

.audio-player:hover .time-container {
  display: unset;
}

.time-container {
  margin: 30px;
}
.timeline {
	height: 10px;
	width: 100%;

	border-radius: 10px;
	background: #556;
	box-shadow: 0 2px 9px 2px rgba(40, 40, 40, 0.5);

	cursor: pointer;
	transition: 0.1s;
}
.timeline:hover{
	background: #668;
	box-shadow: 0 4px 9px 2px rgba(100, 100, 100, 0.5);
}

.progress{
	border-radius: 10px;
	transition: 0.2s;
	width: 0%;
	height: 100%;
	background: #fad549;
}

.time {
	margin-top: 10px;
	justify-content: space-between;
	width: 100%;
	color: #fad549;
  font-size: 1rem;
}
.audio-player:hover .time {
  display: flex;
}

.time > * {
	padding: 4px;
}

.controls {
	width: 30%;
}
.audio-player:hover .controls {
  display: unset;
}

.volume-container {
  display: none;
	z-index: 2;

	transform: translate(0px, 10px);
	transition: 0.2s;

	margin-top: 15px;
	padding-bottom: 20px;

	justify-items: center;
}
.volume-container:hover {
	transform: translate(0px, -5px);
}

.audio-player:hover .volume-container {
  display: grid;
}

@media (orientation: portrait) {
  .ico-vol-med {
    height: 3vh;
    width: 3vh;
  }
  .ico-vol-mute {
    height: 3vh;
    width: 3vh;
  }
  .volume-container {
    width: 70%;
  }
}
@media (orientation: landscape) {
  .ico-vol-med {
    height: 2vw;
    width: 2vw;
  }
  .ico-vol-mute {
    height: 2vw;
    width: 2vw;
  }
  .volume-container {
    width: 100%;
  }
}

.ico-vol-med  {
	align-self: center;
	cursor: pointer;
	transition: 0.1s;
	border: 1px solid black;

	background-color: #fad549;
	border-radius: 45%;
	background-image: url("/img/icon/volume.png");
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: center;
}
.ico-vol-med:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 9px 2px rgba(40, 40, 40, 0.9);
}

.ico-vol-mute  {
	cursor: pointer;
	transition: 0.1s;
	border: 0;

	background-color: red;
	border-radius: 45%;
	background-image: url("/img/icon/volume-mute.png");
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: center;
}
.ico-vol-med:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 9px 2px rgba(40, 40, 40, 0.9);
}

.volume-slider {
	cursor: pointer;
	margin: 3px;
	position: relative;
	top: 15px;
	width: 0;
	height: 10px;

	z-index: -1;
	transition: 0.25s;

	border-radius: 10px;
	background: #556;
}

.volume-percentage {
  width: 100%;
	border-radius: 10px;
	transition: 0.2s ease-in-out;
	background: #fad549;
	height: 100%;
}

.volume-container:hover .volume-slider {
	width: 100%;
}
