/* ————————————————————— ROUTES ————————————————————— */

/* home.rs ------ HOME LAYOUT */
#home-img {
  width: 80%;
  padding-top: 10px;
}

#home-wrap {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-height: 100%;
}

@media screen and (orientation: portrait) {
  #home-components {
    height: 100%;
  }
  #home-wrap {
    height: 100%;
    justify-content: flex-end;
    margin-left: 0;
  }
  .all-contacts {
    width: 100%;
  }
  .all-contacts > * {
    width: 3vh;
    padding: 1rem;
    border-radius: 10px;
  }
}
@media screen and (orientation: landscape) {
  #home-wrap {
    justify-content: flex-end;
    align-items:center;
  }
  .all-contacts {
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 60%;
    }
  .all-contacts > * {
    padding: 1rem;
    width: 3vw;
    }
  .contacts-img:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
  }
}
@media screen and (orientation: landscape) and (min-height: 700px){ 
  #home-title {
    font-size: 10rem;
  }
}


.all-contacts {
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
  background-color: rgba(9, 4, 21, 0.7);
}
.all-contacts > * {
  display: flex;
  justify-content: center;
  align-content: center;
}
.contacts-wrap > a {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.contacts-wrap > a:hover .contacts-img {
  filter: hue-rotate(-295deg) saturate(100%) brightness(2) contrast(100%);
  transform: scale(1.2);
}


.contacts-img {
  cursor: pointer;
  width: 60%;
}

@media screen and (orientation: portrait) {
.modal { 
   width: 80%;
   height: 43%;
   bottom: 25%;
   left: 10%;
   /* width: 80%; */
   /* height: 43%; */
   /* bottom: 25%; */
   /* left: 10%; */
 }
}
@media screen and (orientation: landscape) {
.modal { 
   top: 27%;
   bottom: 10%;
   left: 30%;
   right: 30%;
   /* top: 27%; */
   /* bottom: 10%; */
   /* left: 60%; */
   /* right: 5%; */
 }
}
.modal { 
   position: absolute;
   display: flex;
   flex-direction: column;

   justify-content: center;
   align-items: center;
   text-align: center;

   color: var(--maj-pink);
   background: rgba(9, 4, 21, 0.96);
   border-radius: 30px;

   font-size: 1.5rem;

   z-index: 2;
}

.modal > * {
  padding: 1rem;
}

.modal a {
  color: var(--maj-yel);
  border: 1px solid var(--maj-pink);
  border-radius: 20px;
  margin: 1rem;
}
.close-button {
  all: unset;
  cursor: pointer;
  font-size: 1rem;

  position: absolute;
  top: 1rem;
  right: 1rem;
}
.copy-and-confirm {
  display: grid;
  justify-items: center;
}
.copy-button {
  all: unset;
  display: grid;

  cursor: pointer;
  align-items: center;
  justify-items: center;
  border-radius: 15px;
  border: 1px solid var(--maj-pink);
  width: fit-content;
}
.copy-button:hover {
  background-color: rgba(15, 8, 80, 0.9);
}
.copy-img {
  width: 25px;
  padding: 8px;
}
.span-copied {
  font-size: 1rem;
}

.modal-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
  z-index: 1; /* Place it above other content */
}
@media screen and (orientation: portrait) {
  .link-modal {
    left: 0%;
    right: 0%;
    top: 36%;
    bottom: 36%;
  }
}
@media screen and (orientation: landscape) {
  .link-modal {
    left: 35%;
    right: 35%;
    top: 36%;
    bottom: 36%;
  }
}

.link-modal {
  display: grid;
  position: fixed;

  background-color: rgba(9, 4, 25, 0.9);
  border-radius: 15px;
  justify-items: center;
  align-items: center;

  z-index: 2;
}
.link-modal p {
  padding: 10px;
  font-size: 1.4rem;
  text-align: center;
  border: 1px solid rgba(205,46,112,0.7);
  border-radius: 7px;
}

.link-buttons button {
  all: unset;
  cursor: pointer;
  margin: 15px;
  padding: 5px;
  font-family: 'IBM Plex Mono';
  font-size: 1rem;
  color: var(--maj-pink);
  border: 1px solid rgba(205,46,112,0.7);
  background-color: rgba(0, 0, 0, 0);
}
.link-buttons button:hover {
  background-color: rgba(15, 8, 80, 0.9);
}

/* routes/about.rs ------ ABOUT ME LAYOUT */
#about-components {
  gap: 5px;
}
#about-wrap {
  width: 100%;
  overflow: hidden;
  margin: 0;
  display: grid;
  justify-items: center;
}
@media screen and (orientation: portrait) {
  /* #about-title { */
  /*   margin-top: 20%; */
  /* } */
  #about-components {
    height: 80%;
  }
  #about-wrap {
    max-height: 100%;
  }
  .about-images-scroller {
    grid-auto-columns: 42%;
    gap: 1rem;
    height: 110px;
    padding: 1rem;
  }
}
@media screen and (orientation: landscape){
  #about-wrap {
    max-height: 100%;
  }
  .about-images-scroller {
    grid-auto-columns: 15%;
    gap: 2rem;
  }
}
@media screen and (orientation: landscape) and (min-height: 700px) {
  .about-images-scroller {
    padding: 1rem;
    height: 150px;
  }
}
@media screen and (orientation: landscape) and (max-height: 700px){
  .about-images-scroller {
    height: 90px;
  }
}

.fullscreen-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(9, 4, 21, 0.7);
  z-index: 10;
}
.fullscreen-img-buttons {
  width: fit-content;
  height: fit-content;
  justify-content: center;
  max-width: 80%;
}
.fullscreen-close {
  font-family: 'IBM Plex Mono', sans-serif;
  border: 1px solid var(--maj-pink);
  border-radius: 10px;
  height: 4rem;
  width: 4rem;
  background-color: rgba(9, 4, 21, 0);
  color: var(--maj-pink);
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 4vw;

}
.fullscreen-close:hover {
  background-color: rgba(31, 12, 98, 1);
}
.fullscreen-img {
  all: unset;
  max-height: 20%;
  max-width: 90%;
}
.fullscreen-nav-button {
  background-color: rgba(9, 4, 21, 0.7);
  border-radius: 15px;
  border: 1px solid var(--maj-pink);
  height: 20%;
  cursor: pointer;
}
.fullscreen-nav-button:hover {
  background-color: rgba(31, 12, 98, 1);
}
.fullscreen-nav-button.next-button {
  position: absolute;
  right: 0;
  top: 40%;
}
.fullscreen-nav-button.back-button {
  position: absolute;
  left: 0;
  top: 40%;
}
.next-img {
  transform: rotate(180deg);
}

.about-gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (orientation: portrait) {
  .about-nav-button {
    display: none;
  }
  .about-text{
    max-height: 75%;
  }
}
@media screen and (orientation: landscape) and (min-height: 700px) {
  .about-nav-button {
    display: grid;
    width: 3rem;
    height: 6rem;
  }
  .about-nav-button > * {
    display: block;
  }
  .about-text{
    max-height: 75%;
  }
}
@media screen and (orientation: landscape) and (max-height: 700px) {
  .about-nav-button {
    width: 3rem;
    height: 3rem;
  }
  .about-text{
    max-height: 50%;
  }
}

.about-nav-button {
  color: var(--maj-pink);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--maj-pink);
  border-radius: 10px;
  transition: 0.2s;
  background-color: rgba(9, 4, 21, 0.7);
}
.about-nav-button:hover {
  background-color: rgba(31, 12, 98, 1);
  scale: 1.1;
}
.nav-button-img {
  width: 30px;
  height: 30px;
}

.about-images-scroller {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin-bottom: 30px;
  width: 80%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}
.snaps-inline > * {
  scroll-snap-align: start;
}
.image-about {
  border-radius: 10px;
  aspect-ratio: 16/9;
  object-fit: cover;
  cursor: pointer;
}

.about-text {
  width: 90%;
  padding: 2rem;

  background: rgba(9, 4, 21, 0.7);
  border-radius: 15px;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--maj-pink);
  /* color: var(--maj-yel); */

  overflow: auto;
}
.about-text:hover {
  background: rgba(9, 4, 25, 0.9);
}
.about-text > * {
  padding: 1rem;
}


@media screen and (orientation: portrait) {
  .change-color-button {
    all: unset;
    width: 20%;
    bottom: 0.5rem;
    right: 0;
  }
}
@media screen and (orientation: landscape) {
  .change-color-button {
    all: unset;
    width: 10%;
    bottom: 2%;
    right: 2%;
  }
}
.change-color-button {
  padding: 0.2rem;
  border: 1px solid rgba(255, 57, 136, 0.5);
  border-radius: 7px;
  background-color: rgba(9, 4, 25, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: sticky;
  margin-left: auto;

  cursor: pointer;

  transition: 0.1s ease-in-out;
  opacity: 0.5;
}
.change-color-button:hover {
  opacity: 1;
}
.color-box {
  width: 0.7rem;
  height: 0.7rem;
}
.button-next-arrow {
  width: 2rem;
  transform: rotate(180deg) scaleX(0.8);
}
.change-color-button:hover {
  background-color: rgba(15, 8, 80, 0.9);
}

/* shows.rs ------ SHOWS LAYOUT */
#shows-components {
  display: flex;
  flex-direction: column;
}

#shows-contents {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 98%;
  max-height: 65%;
  overflow: hidden;
}

.shows-nav {
  margin: 0;
  width: 100%;
  height: 4rem;

  display: grid;
  grid-template-columns: 1fr 1fr;

  background: rgba(9, 4, 21, 0.9);
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  position: sticky;
  top: 0;
}
.shows-nav > * {
  all: unset;

  /*
  background: rgba(255, 57, 136, 1);
  */
  color: var(--maj-yel);
  padding: 10px;

  text-align: center;
  font-size: 1.6rem;

  cursor: pointer;
  width: 100% 
}
.shows-nav > *:hover {
  text-decoration: underline;
}
.shows-nav > *[aria-current="page"] {
  color: rgba(8, 200, 252, 1);
  /* color: #00ff75; */
}
.shows-nav > *:active {
  color: rgba(35.3, 187.4, 228, 1);
  /* color: #00ff75; */
}
#shows-wrap {
  width: 100%;
  height: 100%;

  border-radius: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;

  font-size: 1rem;
  overflow: auto;
}

.shows-list {
  padding: 0;
  margin: 0;
  display: grid;
  height: fit-content;
  width: 100%;

}
.show-container {
  background: rgba(9, 4, 21, 0.9);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.show-container:hover {
  background: rgba(31, 12, 98, 1);
}

#show-container-id {
  position: sticky;
  top: 0;

}
#show-container-id > * {
  color: var(--maj-yel);
  font-size: 1.2rem;
  background: rgba(9, 4, 21, 1);
}
.show-container > * {
  color: var(--maj-pink);
  padding: 15px 10px;
  text-align: center;
  font-size: 1rem;
}
.shows-no-shows {
  width: 100%;
  padding-block: 8rem;
  text-align: center;
  font-size: 1.6rem;
  background: rgba(9, 4, 21, 0.9);
}

/* routes.rs ------ MEDIA LAYOUT */
#media-img {
  width: 33%;
}

#media-contents {
  margin-left: 5%;
  margin-right: 5%;

  display: grid;
  gap: 20px;
}

/*  TODO: Make this better !  */
@media(orientation: portrait) {
  #media-contents {
    overflow: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(20, 1fr);
    max-height: 90%;
  }
  .video-1 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .video-4 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .video-7 {
    grid-column: span 2;
    grid-row: span 2;
  }
}
@media(orientation: landscape) {
  #media-components {
    overflow: auto;
  }
  #media-contents {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8,  1fr);
  }
  .video-1 {
    grid-column: span 1;
    grid-row: span 1;
  }
  .video-2 {
    grid-column: span 1;
    grid-row: span 1;
  }
  .video-3 {
    grid-column: span 3;
    grid-row: span 3;
  }
  .video-4 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .video-5 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .video-6 {
    grid-column: span 1;
    grid-row: span 1;
  }
  .video-7 {
    grid-column: span 3;
    grid-row: span 3;
  }
}
